{{d-section pageClass="new-topic-form-composer"}}

{{#each model.category.new_topic_form.fields as |f|}}
  {{#if f.label}}
    <div class="ntf-field-label">{{f.label}}</div>
  {{/if}}

  {{ntf-form-field field=f model=model}}
{{/each}}
