<div>
  {{d-button
    icon="calendar-alt"
    action=(action "createdate")
    label="new_topic_form.insert_date"
  }}
</div>

{{#if value}}
  <div class="ntf-field-btn-result">
    <div class="ntf-field-btn-value">
      {{value}}
    </div>

    <div class="ntf-field-btn-delete">
      {{d-button
        icon="times"
        action=(action "removeDate")
        class="btn-small"
      }}
    </div>
  </div>
{{/if}}
