.new-topic-form-composer-page {
  .composer-fields {
    &::-webkit-scrollbar {
      -webkit-appearance: none;
      width: 5px;
    }

    &::-webkit-scrollbar-thumb {
      cursor: pointer;
      border-radius: 2px;
      background: dark-light-choose($primary-low, $secondary-low);
    }

    &::-webkit-scrollbar-track {
      background: transparent;
      border-radius: 0;
    }
  }

  .new-topic-form {
    label:not(.btn) {
      font-weight: 600;
    }

    .ntf-form-field {
      margin-bottom: 7px;
      position: relative;
    }

    .d-editor {
      height: 125px;
    }

    select {
      border-color: $primary-medium;
    }

    input[type='text'].ntf-user-selector {
      width: unset;
      min-width: 150px;
      flex: 1 1 auto;
    }

    .date-input {
      width: 100%;
    }

    .ntf-error {
      color: $danger;
      font-size: 90%;
    }

    .ntf-upload-result {
      margin-top: 10px;
      display: table;
      cursor: pointer;
    }

    .ntf-upload-img-preview {
      width: 125px;
      height: auto;
    }

    .ntf-poll-result {
      width: 100%;
      display: flex;
      margin-top: 10px;
    }

    .ntf-poll-poll {
      height: 1.5em;
      overflow: hidden;
      margin-right: 10px;
      color: $primary-medium;
    }

    .ntf-poll-delete .btn {
      line-height: 1;
      padding: 5px;
      min-height: unset;
    }
  }
}
