.new-topic-form-composer-page {
  .composer-fields, .d-editor-preview-wrapper {
    &::-webkit-scrollbar {
      -webkit-appearance: none;
      width: 5px;
      height: 5px;
    }

    &::-webkit-scrollbar-thumb {
      cursor: pointer;
      border-radius: 2px;
      background: dark-light-choose($primary-low, $secondary-low);
    }

    &::-webkit-scrollbar-track {
      background: transparent;
      border-radius: 0;
    }
  }

  .new-topic-form {
    margin-top: 10px;

    .ntf-field-label {
      font-weight: 600;
      margin-bottom: 5px;
    }

    .ntf-form-field {
      margin-bottom: 12px;
      position: relative;
    }

    .ntf-text-field {
      margin-bottom: 0;
    }

    .d-editor {
      height: 125px;

      .d-editor-preview-wrapper {
        display: none;
      }
    }

    select {
      border-color: $primary-medium;
    }

    input[type='text'].ntf-user-selector {
      width: unset;
      min-width: 150px;
      flex: 1 1 auto;
    }

    .date-input {
      width: 100%;
    }

    .ntf-error {
      color: $danger;
      font-size: 90%;
    }

    .ntf-field-btn {
      display: flex;
      align-items: center;
    }

    .ntf-field-btn-result {
      flex: 1;
      margin-left: 10px;
      width: 100%;
      display: flex;
      word-break: break-all;
    }

    .ntf-field-btn-value {
      height: 1.5em;
      overflow: hidden;
      margin-right: 10px;
      color: $primary-high;
    }

    .ntf-field-btn-delete {
      .btn {
        line-height: 1;
        padding: 5px;
        min-height: unset;
        margin-right: 5px;
      }
    }
  }
}

img.emoji {
  &[title=':x:'], &[title=':white_check_mark:'] {
    width: 0.8em;
    height: 0.8em;
  }
}
