.new-topic-form-composer-page {
  #reply-control {
    min-height: 50vh;

    .composer-fields {
      flex-grow: 1;
      overflow-y: auto;
      overflow-x: hidden;
    }

    .wmd-controls {
      height: 0;
      position: inherit;

      .d-editor-textarea-wrapper {
        display: none;
      }

      .d-editor-preview-wrapper {
        position: absolute;
        right: 10px;
        bottom: 45px;
        top: 45px;
        margin-top: 0;
        left: 50%;
      }
    }

    .composer-controls-event .event-label button:last-child {
      margin-right: 0
    }

    .toggle-fullscreen {
      display: none;
    }

    &.show-preview {
      .new-topic-form {
        .ac-wrap {
          max-width: 100%;
        }
      }

      .ntf-text-field {
        width: 100%;
      }

      .composer-fields {
        width: 50%;
      }
    }

    .composer-controls {
      position: absolute;
      right: 10px;
      top: 15px;
    }

    .title-and-category.with-preview {
      width: 100%;
    }
  }

  .new-topic-form {
    .ac-wrap {
      max-width: 100%;
    }

    input.ntf-text-field {
      width: 100%;
    }
  }
}

.new-topic-form-setting-page {
  .ntf-row input[type=text] {
    width: 300px;
  }
}
