.new-topic-form-composer-page {
  #reply-control {
    .composer-fields {
      flex-grow: 1;
      overflow-y: auto;
      overflow-x: hidden;
      // width: 50%;
    }

    .wmd-controls {
      height: 0;
      position: inherit;

      .d-editor-textarea-wrapper {
        display: none;
      }

      .d-editor-preview-wrapper {
        position: absolute;
        right: 10px;
        bottom: 45px;
        top: 45px;
        // max-width: 47%;
        margin-top: 0;
        left: 50%;
      }
    }

    .composer-controls-event .event-label button:last-child {
      margin-right: 0
    }

    .toggle-fullscreen {
      display: none;
    }

    &.show-preview {
      .new-topic-form {
        // width: 50%;

        .ac-wrap {
          max-width: 100%;
        }
      }

      .ntf-text-field {
        width: 100%;
      }

      .composer-fields {
        width: 50%;
      }
    }

    .composer-controls {
      position: absolute;
      right: 10px;
      top: 15px;
    }

    .title-and-category.with-preview {
      width: 100%;
    }
  }

  .new-topic-form {
    .ac-wrap {
      max-width: 100%;
    }

    input.ntf-text-field {
      width: 100%;
    }
  }
}
