.new-topic-form-composer-page {
  #reply-control {
    .composer-fields {
      flex-grow: 1;
      overflow-y: auto;
      overflow-x: hidden;
    }
    .wmd-controls {
      height: 0;

      .d-editor-textarea-wrapper {
        display: none;
      }
    }

    .submit-panel a.mobile-file-upload {
      display: none;
    }

    .mini-tag-chooser {
      margin-left: 0;
      margin-bottom: 0;
    }
  }

  .new-topic-form {
    input.ntf-text-field {
      width: 100%;
    }
  }
}

.new-topic-form-setting-page {
  .ntf-header {
    flex-direction: column;
    margin-bottom: 2em;
  }

  .ntf-field .ntf-remove-field {
    visibility: visible;
  }
}
